@using Do_An_HDT_1988308.Entities;
@using Do_An_HDT_1988308.Service;
@{
    Layout = null;

    // Kiem tra da dang nhap chua, dang nhap roi moi load man hinh DS SACH
    if (Session["USER"] == null)
    {

        Response.Redirect("~/UI/MH_DANGNHAP.cshtml");
    }
    string chuoi =string.Empty;
    var xl1= new XL_LOAIHANG();
    var dsLoaiHang = xl1.TimKiemLoaiHang(string.Empty);
    var xl2 = new XL_THONGKE();
    var dsMatHang = new List<MAT_HANG>();

    if (IsPost)
    {

        var s = Request["loaihang"];
        string[] M = s.Split(',');
        var lh = new LOAI_HANG(int.Parse(M[0]), M[1], M[2]);

        dsMatHang = xl2.KiemTraTonKho(lh);

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> DS TỒN KHO</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        h3 {
            color: aqua;
        }
    </style>
</head>
<body>
    
    <div style="background-color: azure;text-align:center">
        <h1 style="text-align:center; color:palevioletred;">THỐNG KÊ HÀNG TỒN KHO</h1><br />
        <form action="~/UI/MH_THONGKE_TONKHO.cshtml" method="post">
            <label>Chon Loai Hang:</label><br /><br />
            @if (dsLoaiHang.Count == 0)
            {
                @Html.Raw("Loại hàng trống")
            }
            else
            {
                foreach (var lh in dsLoaiHang)
                {
                    <input type="radio" name="loaihang" value="@lh.ID,@lh.MaLoaiHang,@lh.TenLoaiHang" required />@lh.TenLoaiHang<br /><br />

                }
            }
            <input type="submit" value="Thong Ke">
        </form>

    </div>
    <hr />
    <div>
        @if (dsMatHang.Count == 0)
        {
            @Html.Raw("Danh sách trống, vui lòng chọn tên loại hàng cần tìm")<br />
        }
        else
        {
            <h3>Số Lượng Hàng Tồn: @dsMatHang.Count</h3>
            <table>
                <tr>
                    <th>Mã Mặt Hàng</th>
                    <th>Tên Mặt Hàng</th>
                    <th>Năm Sản Xuất</th>
                    <th>Tên Công Ty</th>
                    <th>Hạn Sử Sụng</th>
                    <th>Mã Loại Hàng</th>

                </tr>
                @foreach (var mh in dsMatHang)
                {
                    <tr>
                        <td>@mh.MaMH</td>
                        <td>@mh.TenMH</td>
                        <td>@mh.NamSX.ToString("dd/MM/yyyy")</td>
                        <td>@mh.TenCongTy</td>
                        <td>@mh.HanSD.ToString("dd/MM/yyyy")</td>
                        <td>@mh.MaLoaiHang</td>


                    </tr>
                }
            </table>
        }
        <br />
        <a href="~/UI/MH_QLCH.cshtml">Trở Về Trang chủ</a>
    </div>
</body>
</html>
